[submodule "tubes/Tubes1_SanssKuy"]
	path = tubes/Tubes1_SanssKuy
	url = https://github.com/NoHaitch/Tubes1_SanssKuy
[submodule "tucil/Tucil1_13522091"]
	path = tucil/Tucil1_13522091
	url = https://github.com/NoHaitch/Tucil1_13522091
[submodule "tucil/Tucil2_13522078_13522091"]
	path = tucil/Tucil2_13522078_13522091
	url = https://github.com/NoHaitch/Tucil2_13522078_13522091
[submodule "tucil/Tucil3_13522091"]
	path = tucil/Tucil3_13522091
	url = https://github.com/NoHaitch/Tucil3_13522091
[submodule "Shape-Side-Matching-for-rectangular-shape-origin"]
	path = Shape-Side-Matching-for-rectangular-shape-origin
	url = https://github.com/NoHaitch/Shape-Side-Matching-for-rectangular-shape-origin
[submodule "tubes/Tubes2_FE_Chibye"]
	path = tubes/Tubes2_FE_Chibye
	url = https://github.com/NoHaitch/Tubes2_FE_Chibye
[submodule "tubes/Tubes3_Kunjat-Gadab"]
	path = tubes/Tubes3_Kunjat-Gadab
	url = https://github.com/NoHaitch/Tubes3_Kunjat-Gadab
